$bg-color: pink;
$w: 100px;

@mixin main-font {
    color: darkmagenta;
    font-size: 20px;
    line-height: 28px;
}

@mixin paddings($value, $border-color: plum) {
    border: 3px solid $border-color;
    padding-top: $value*2;
    padding-bottom: $value*3;
    padding-left: $value;
    padding-right: $value;
}

@mixin set-color-text {
    @if(lightness($bg-color) < 30%) {
        color: rgb(247, 181, 232);
    }

    @else {
        color: darkmagenta
    }
}

body {
    background-color: $bg-color;
    @include set-color-text();
}

.block {
    width: $w + 200;
    margin: $w / 2;
    padding: $w - 50px;
    border: $w*0.1 solid plum;
    background-color: adjust-color(rgb(211, 207, 160), $red: 80%);

    img {
        width: 100% - 1%;
    }

    p {
        color: adjust-color(purple, $lightness: 10%);

        .bold {
            font-weight: bold;
        }

        &:last-child {
            font-style: italic;
        }
    }
}

p {
    @include main-font;
    @include paddings(10px);
}

@for $i from 1 to 5 {
    .item-#{$i} {
        width: 90%;
        height: 50px;
        background-color: adjust-color(rgb(91, 31, 97), $lightness: 100% / $i);

    }
}

/*-----------------------вёрстка меню-----------------------*/
.menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;

    &__item {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0, 4s;

        &:hover {
            color: rgb(228, 103, 151);
        }

        &--active {
            font-weight: bold;
            color: rgb(255, 35, 156);
        }

        @media(max-width: 900px) {
            font-size: 20px;
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}